.todoContainer_item {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 5px;
    width: 272px;
    height:fit-content;
    h2 {
        color: var(--dynamic-card-font-color);
    }
}
.todoContainer_dragOver{
    outline: 2px solid rgb(0, 140, 255)
}